@import 'tailwindcss';

@import '@stylelist94/nine-beauty-actress/style.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-geist-mono);

  --color-white: #ffffff;
  --color-black: rgba(10, 10, 10, 100);
}
