@reference "tailwindcss";

/* GitHub Flavored Markdown */

blockquote > p {
  @apply text-zinc-600 dark:text-zinc-400 my-1;
}

h2:first-of-type {
  margin-top: 0;
}

h2 > code,
h3 > code {
  font-size: inherit;
}

.contains-task-list {
  @apply py-4;
}

.contains-task-list > li + li {
  @apply py-2;
}

.contains-task-list > li {
  @apply flex gap-2;
}
